<div class="page-slider-wrap">
    <div id="page-slider">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">

                <!-- MAIN IMAGE -->
                <img src="/Ressource/img/uploads/slider/slide1.jpg" alt="slide1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                <!-- LAYER NR. 1 -->
                <div class="tp-caption slider-title customin customout"
                     data-x="30"
                     data-y="155"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1000"
                     data-start="500"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="color:#3eab8f">
                    Feel free with DAS
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption slider-sub-title sfl"
                     data-x="30"
                     data-y="230"
                     data-speed="1000"
                     data-start="700"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="color:#f7b26d">
                    Here you will find everything <br /> you need for you
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption sfl slider-text"
                     data-x="30"
                     data-y="350"
                     data-speed="1000"
                     data-start="800"
                     data-easing="Back.easeInOut"
                     data-endspeed="300">
                    Nam auctor dapibus ante vel facilisis. Cras eget adipiscing nisi.<br /> Duis aliquet ligula non risus sollicitudin commodo. Donec ullamcorper <br />lacinia turpis at aliquet. Cras consectetur fermentum erat,<br /> in placerat ligula pharetra eget.
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption sfr btn btn-big"
                     data-x="30"
                     data-y="500"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="Power3.easeInOut"
                     data-endspeed="300"
                     style="color:#3eab8f">
                    Read More
                </div>


            </li>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1000">

                <!-- MAIN IMAGE -->
                <img src="/Ressource/img/uploads/slider/slide2.jpg" alt="slide2" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <!-- LAYER NR. 1 -->
                <div class="tp-caption slider-title text-center sft"
                     data-x="center"
                     data-y="200"
                     data-speed="1000"
                     data-start="500"
                     data-easing="Power1.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="color:#693424">
                    Discover all new!
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption slider-sub-title text-center sfl"
                     data-x="center"
                     data-y="center"
                     data-speed="1000"
                     data-start="600"
                     data-easing="Power1.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="color:#062234">
                    We have collected the most modern web<br /> technologies added a little bit of our love<br /> painted with bright colors and created DAS
                </div>

                <!-- LAYER NR. 3 -->
                <a href="#" class="tp-caption sfb btn btn-big"
                   data-x="center"
                   data-y="500"
                   data-speed="1000"
                   data-start="700"
                   data-easing="Power4.easeOut"
                   data-endspeed="300"
                   data-endeasing="Power1.easeIn"
                   data-captionhidden="off"
                   style="color:#693424">
                    Read More
                </a>

            </li>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">

                <!-- MAIN IMAGE -->
                <img src="/Ressource/img/uploads/slider/slide3.jpg" alt="slide3" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <!-- LAYER NR. 1 -->
                <div class="tp-caption slider-title text-right customin"
                     data-x="right"
                     data-hoffset="-30"
                     data-y="155"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="500"
                     data-easing="Power3.easeInOut"
                     data-endspeed="300"
                     style="color:#062234">
                    DAS waitng for you
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption slider-sub-title text-right customin customout"
                     data-x="right"
                     data-hoffset="-30"
                     data-y="230"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1500"
                     data-start="500"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="color:rgb(171, 62, 62)">
                    Increase your productivity, business<br /> and status with this awesome theme
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption text-right customin customout slider-text"
                     data-x="right"
                     data-hoffset="-30"
                     data-y="350"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1500"
                     data-start="500"
                     data-easing="Back.easeInOut"
                     data-endspeed="300">
                    Aliquam erat volutpat. Etiam gravida <br />gravida enim in lobortis. Ut sit amet nulla faucibus, pharetra urna rutrum,<br />lacinia enim. Vivamus congue accumsan tincidunt
                </div>

                <!-- LAYER NR. 4 -->
                <a href="#" class="tp-caption customin customout btn btn-big text-right"
                   data-x="right"
                   data-hoffset="-30"
                   data-y="500"
                   data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                   data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                   data-speed="1500"
                   data-start="500"
                   data-easing="Back.easeInOut"
                   data-endspeed="300"
                   style="color:#062234">
                    Read More
                </a>
            </li>

        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>
<div class="container">

    <!-- CONTENT -->
    <div id="content">

        <div class="container-out container-light">

            <div class="title title-section">
                <h2>Les Catalogues</h2>
                <p>Les bonnes raisons de choisir DAS Cloud.</p>
                <span class="sticker">
                    <i class="icon fa fa-cogs"></i>
                </span>
            </div><!-- .title.title-section -->

        </div><!-- .container-out -->

        <div id="catalogues" class="container-out container-no-bottom">
            <div class="row">
                @{
                    IList<Categorie> listeDesCategories = CategorieDAO.recupererListeDesCategories(CategorieBS.CAT_ACTIVE);
                    int nombreCategories = listeDesCategories.Count();
                    int cpt = 0;
                    while (cpt < nombreCategories)
                    {
                        <div class="col-sm-4">
                            <div class="iconbox">
                                <div class="iconbox-heading">
                                    <div class="icon">
                                        <img src="/Ressource/imagesdas/categories/@(listeDesCategories[cpt].image != null && listeDesCategories[cpt].image != "" ? listeDesCategories[cpt].image : "img_default.png")" />
                                    </div>
                                    <div class="title">
                                        <h4>@listeDesCategories[cpt].titre</h4>
                                    </div>
                                </div><!-- .iconbox-heading -->
                                <div class="iconbox-content">
                                    <div class="text">
                                        <p>@listeDesCategories[cpt].description</p>
                                        <p><a href="/#" class="btn ">Read more</a></p>
                                    </div>
                                </div><!-- .iconbox-content -->
                            </div><!-- .iconbox -->

                        </div>
                        cpt++;
                    }
                }

            </div><!-- .row -->
        </div><!-- .container-out -->
        <div id="Service" class="container-out container-dark">

            <div class="title title-section">
                <h2>Our beautiful projects</h2>
                <p>Proin malesuada justo sed lobortis dapibus.</p>
                <span class="sticker">
                    <i class="icon icomoon-quill"></i>
                </span>
            </div><!-- .title.title-section -->

        </div><!-- .container-out -->
        <!-- ************* -->
        <!-- Projects list -->
        <!-- ************* -->

        <div class="project-filter animated">
            <div class="container">
                <ul>
                    <li class="selector"></li>
                    <li><a data-categories="*" class="active">Tout</a></li>
                    @{
                        IList<Service> listeService = ServiceDAO.recupererListeDesServicesAvecCatalogue();
                        IList<Service> listeService2 = listeService.GroupBy(x => x.idCategorie.idCategorie).Select(x => x.First()).ToList<Service>();
                        int nbrService2 = listeService2.Count();
                        int nbrService = listeService.Count();
                        int cpt1 = 0;
                        while (cpt1 < nbrService2)
                        {
                            <li><a data-categories="@listeService2[cpt1].idCategorie.idCategorie">@listeService2[cpt1].idCategorie.titre</a></li>
                            cpt1++;
                        }

                    }

                </ul>
                <p><b>Trié par:</b> <span class="project-filter-current">Tout</span></p>
            </div>
        </div><!-- .project-filter -->
        <section class="projects grid" data-columns="4">
            @{
                int cpt2 = 0;
                while (cpt2 < nbrService)
                {
                    <article class="project project-animated @listeService[cpt2].idCategorie.idCategorie">
                        <div class="project-heading">
                            <div class="thumbnail">
                                <img src="/Ressource/imagesdas/services/@(listeService[cpt2].image != null && listeService[cpt2].image != "" ? listeService[cpt2].image : "img_default.png")" alt="Image" title="Image" />
                            </div>
                            <ul class="project-action">
                                <li><a id="@listeService[cpt2].idService" class="btn btn-icon-view" onclick="sessionService(@listeService[cpt2].idService)" data-target="" data-toggle="modal" title="<h4>Pellentesque auctor</h4><p>Maecenas quam quam, bibendum sit amet mauris sit amet, dapibus lobortis felis. Ut auctor interdum est, sit amet imperdiet ante convallis sed.</p><p class='text-right'><a href='portfolio-single.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio" ></a></li>
                                <li><a class="link btn btn-icon-link"></a></li>
                            </ul>
                        </div><!-- .project-heading -->
                        <div class="project-content">

                            <p class="meta">
                                @listeService[cpt2].prixHT.ToString() DT
                            </p><!-- .meta -->

                            <div class="title">
                                <h2 class="h5">@listeService[cpt2].titre</h2>
                                <p class="desc">@listeService[cpt2].description</p>
                            </div><!-- .title -->

                        </div><!-- .project-content -->


                    </article><!-- .project -->
                    cpt2++;
                }
            }


        </section><!-- .projects -->
        <div class="container-out container-light">

            <div class="title title-section">
                <h2>Get to know our clients</h2>
                <p>Aenean sit amet feugiat ipsum, quis consectetur quam.</p>
                <span class="sticker">
                    <i class="icon icomoon-earth"></i>
                </span>
            </div><!-- .title.title-section -->

        </div><!-- .container-out -->
        <div class="container-out">

            <div class="carousel-wrap ">
                <ul class="carousel-nav">
                    <li><a href="#" class="btn btn-icon-prev prev"></a></li>
                    <li><a href="#" class="btn btn-icon-next next"></a></li>
                </ul><!-- .carousel-nav -->
                <div class="clients carousel">
                    <div class="client">
                        <img src="/Ressource/img/uploads/clients/0/client.png" alt="Client" title="Client" />
                    </div>
                    <div class="client">
                        <img src="/Ressource/img/uploads/clients/1/client.png" alt="Client" title="Client" />
                    </div>
                    <div class="client">
                        <img src="/Ressource/img/uploads/clients/2/client.png" alt="Client" title="Client" />
                    </div>
                    <div class="client">
                        <img src="/Ressource/img/uploads/clients/3/client.png" alt="Client" title="Client" />
                    </div>
                    <div class="client">
                        <img src="/Ressource/img/uploads/clients/4/client.png" alt="Client" title="Client" />
                    </div>
                </div><!-- .carousel -->
            </div><!-- .carousel-wrap -->
            <div class="title title-section">
                <h2>What people say about us?</h2>
                <p>Nulla a tincidunt libero, ut pharetra lectus.</p>
                <span class="sticker">
                    <i class="icon fa fa-thumbs-o-up"></i>
                </span>
            </div><!-- .title.title-section -->

        </div><!-- .container-out -->
        <div class="container-out container-image" style="background-image:url(/Ressource/img/uploads/parallax/testimonial.jpg)">


            <div class="testimonial-wrap">
                <div class="testimonial-outer">
                    <ul class="testimonial" data-auto="true">
                        <li>
                            <div class="testimonial-content">
                                <div class="text">
                                    <p>Sed dui nisl, porttitor id diam id, vehicula molestie massa. Sed porta libero in interdum ornare. Curabitur tincidunt arcu vitae dui egestas cursus. Fusce semper enim enim, vitae tempor augue egestas sed. Sed ut laoreet elit. Nullam consectetur justo euismod purus dignissim, eget hendrerit augue gravida.</p>
                                </div>
                            </div><!-- .testimonial-content  -->
                            <div class="testimonial-heading">

                                <div class="title">
                                    <h4>John Doe</h4>
                                    <p class="position">Microsoft</p>
                                </div>
                            </div><!-- .testimonial-heading  -->
                        </li>
                        <li>
                            <div class="testimonial-content">
                                <div class="text">
                                    <p>Duis dignissim quis ante ut dapibus. Aenean ut ullamcorper quam, nec viverra lorem. Pellentesque eget libero vitae dolor egestas hendrerit. Cras vehicula venenatis libero in facilisis. Maecenas nec elit quis urna molestie vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div><!-- .testimonial-content  -->
                            <div class="testimonial-heading">

                                <div class="title">
                                    <h4>Mary Smith</h4>
                                    <p class="position">themeforest</p>
                                </div>
                            </div><!-- .testimonial-heading  -->
                        </li>
                        <li>
                            <div class="testimonial-content">
                                <div class="text">
                                    <p>Nulla sollicitudin odio orci, quis pharetra lacus pretium sed. Suspendisse non justo lorem. Morbi elit arcu, commodo eu velit nec, ornare molestie tortor. Vestibulum purus lorem, malesuada vitae lectus id, luctus gravida erat. Nam bibendum erat vel augue viverra convallis.</p>
                                </div>
                            </div><!-- .testimonial-content  -->
                            <div class="testimonial-heading">

                                <div class="title">
                                    <h4>Daniel Anderson</h4>
                                    <p class="position">apple</p>
                                </div>
                            </div><!-- .testimonial-heading  -->
                        </li>
                        <li>
                            <div class="testimonial-content">
                                <div class="text">
                                    <p>Aenean viverra neque odio, vel aliquam dui sodales ut. Nunc id purus vitae odio varius condimentum. Duis eu augue metus. Morbi a dolor ac elit auctor lobortis eget vitae lectus. Duis bibendum gravida euismod. Integer euismod nunc id tincidunt hendrerit. Aenean egestas vel sem ac accumsan.</p>
                                </div>
                            </div><!-- .testimonial-content  -->
                            <div class="testimonial-heading">

                                <div class="title">
                                    <h4>Jane Johnson</h4>
                                    <p class="position">google</p>
                                </div>
                            </div><!-- .testimonial-heading  -->
                        </li>
                    </ul><!-- .testimonial -->
                </div><!-- .testimonial-outer -->
                <div class="testimonial-pagi"></div>
            </div><!-- .testimonial-wrap -->


        </div><!-- .container-out -->

    </div><!-- #content -->

</div><!-- .container -->
<!-- Login/Register Modal -->

<div id="demandeService-register" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="false">
    <div class="modal-dialog container">
        <div class="row">



            <div class="col-sm-7">

                <div class="modal-body">
                    <div class="modal-content">
                        <div class="modal-header" style="margin-bottom:20px;">


                            <label style="text-align:left;font-size:20px;font-weight:bold;"> Demande de service </label>

                            <font align="right"><a onclick="" class="close btn btn-dark btn-icon-close" data-dismiss="modal" aria-hidden="true" /></font>
                        </div>


                        <div class="form-field">
                            <div class="row">
                                <label for="register_titreService" class="col-sm-3">Service</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" id="register_titreService"  required />
                                 
                                </div>
                            </div>
                        </div><!-- .form-field -->
                        <div class="form-field">
                            <div class="row">
                                <label for="register-dateUtilisation" class="col-sm-3">date début utilisation</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="date" id="register-dateUtilisation" min="@System.DateTime.Today" max="@(System.DateTime.Today.Year+1)" value="" required />
                                </div>
                            </div>
                        </div><!-- .form-field -->
                        <div class="form-field">
                            <div class="row">
                                <label for="register-nbrUtilisateur" class="col-sm-3">nombre de licence</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" id="register-nbrUtilisateur" value="1" required />
                                </div>
                            </div>
                        </div><!-- .form-field -->
                        <div class="form-field">
                            <div class="row">
                                <label for="register-periode" class="col-sm-3">periode d'utilisation ( en mois )</label>
                                <div class="col-sm-7">
                                    <input class="form-control" type="text" id="register-periode" size="10" value="1" required />
                                </div>
                            </div>
                        </div>

                        <div class="form-field text-right">
                            <input value="Register" class="btn" onclick="demandeService()" >
                        </div><!-- .form-field -->
                    </div><!-- .modal-content -->
                </div><!-- .modal-body -->

            </div><!-- .col-sm-7 -->
        </div><!-- .row -->
    </div><!-- .modal-dialog -->
</div>



<script type="text/javascript">
    initialisationInscription();
</script>
